<div id="header-main" [ngClass]="{'header-main-fixed': fixedHeaderMain}">
  <div id="logo">
    <img src="../../../assets/Logo/logo_transparent2.png" alt="" [height]="heightLogo" />
  </div>
  <div id="search-bar" [ngClass]="{ 'search-bar-show': showSearchBar }">
    <span class="search-bar-exit" (click) = "exitSearchBar()"></span>
    <input
      type="search" placeholder="Nhập tên sách, tác giả..."
    />
    <button><span (click)="sendMesage()">Tìm kiếm</span></button>
  </div>
  <div id="user-bar">
    <button>Đăng ký</button>
    <button>Đăng nhập</button>
  </div>
</div>
<div id="btn-searchbar" (click)=toggleSearchBar()></div>
